html {
    background: url("../austinMini.jpg");
    background-size: cover;
    overflow: auto;
    background-attachment: fixed;
    
    background-repeat: no-repeat;
}

#header {
    margin: 10px;
}

.jumbotron-fluid {
    height: 0px;
    color: rgb(43, 43, 43);
}

#scrapedArticles {
    opacity: .6;
}

#scrapeAlert {
    margin-top: 10px;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.137);
}

#articleDisplay {
    float: right;
}
